body{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

.text-center{
    text-align: center;
}

#container{
    position: relative;
    box-sizing: border-box;
    height: 640px;
    width: 790px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #9DD2EA;
    box-shadow: 0px 4px 0px 0px #009DE4;
}

#fruits-container{
    width: 650px;
    height: 400px;
    background: #fff;
    box-shadow: 0px 4px #535AAB;
    margin: 50px auto 10px;
    position: relative;
    overflow: hidden;
}

#trials-left{
    width: 80px;
    padding: 10px;
    position: absolute;
    background: #F1FF92;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
/*    border-bottom: solid 4px #9DA853*/
    box-shadow: 0px 4px #9DA853;
    position: absolute;
    right: 15px;
    padding: 11px;
}

#information{
    width: 450px;
    height: 50px;
    margin: 10px auto;
    background: #B481D9;
    box-shadow: 0px 4px #8153A8;
    line-height: 50px;
}

#start-reset:active{
    top: 4px;
    box-shadow: 0 0;
    background: #C881E9;
    color: #fff;
    transition: all 0.2s;
}

#start-reset{
    width: 100px;
    height: 38px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}

#time-remaining{
    position: absolute;
    background: #AFE64B;
    bottom: 8px;
    right: 20px;
    height: 38px;
    width: 165px;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    display: none;
}

#game-over{
    width: 500px;
    height: 200px;
    background: linear-gradient(#F3C76B, #F3746C);
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    left: 145px;
    top: 170px;
    z-index: 99999;
    display: none;
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit{
    display: none;
    position: absolute;
}